<!-- 
textarea
http://plnkr.co/edit/Xx1SHwQI2t6ji31COneO?p=preview 
http://stackoverflow.com/questions/15797886/angularjs-two-way-binding-between-a-textarea-and-ng-repeat-ed-inputs
http://plnkr.co/edit/bSjtOK?p=preview

http://stackoverflow.com/questions/18619740/how-to-add-a-search-box-with-icon-to-the-navbar-in-bootstrap-3
-->


  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-offset-1">
        <h3>Welcome to the Stockmarket</h3>
        <p>Here you can manage your portfolio and view live prices.</p>

        <div style="margin-bottom: 18px;">

	      <tabset>

	      	<!-- =====================================================
		    Portfolio Tab 
		    =======================================================-->
		    <tab heading="Portfolio">Static Portfolio content

		    <!-- Search Form -->
		    <div class="well">
		    	<div class="row">
		    		<div class=form-group>
    				<div class="col-sm-6 col-xs-12 col-lg-3">
	            		<form class="form-horizontal" role="form">
	                		<div class="input-group">
	                        	<input autofocus type="text" class="form-control" placeholder="Enter Ticker.." ng-model="stock">
	                        	<span class="input-group-btn">
	                        		<button type="submit" class="btn btn-danger" ng-click="addStock(stock)">Add Stock</button>
              					</span>
              					{{stock}}
              				</div>
	            		</form> <!-- @END form search -->
	        		</div>
	        		</div>
	        	</div>
	        </div>


			<table class="table table-striped table-bordered table-condensed">
				<thead>
				  <tr>
				  	<th>No.</th>
				    <th>Stock Code</th>
				    <th>Last Price</th>
				  </tr>
				</thead>

				<tbody class="stock-list">


				    <tr ng-repeat="data in myPortfolio track by $index"  >
				    	<td>{{$index + 1}}</td>
    					<td>{{data.symbol}}</td>
    					<td>{{data.price}}</td>
					</tr>


				</tbody>

			</table>




		    </tab>


		    <!-- =====================================================
		     StockMarket Tab 
		     =======================================================-->
		    <tab heading="Stockmarket">Static Stockmarket content
			    <div ng-controller="MarketCtrl">

			    	<table class="table table-bordered table-condensed">
					    <thead>
					        <tr>
					            <th>Stock</th>
					            <th>BID5</th>
					            <th>BID4</th>
					            <th>BID3</th>
					            <th>BID2</th>
					            <th>BID1</th>
					            <th>Trade</th>
					            <th>ASK1</th>
					            <th>ASK2</th>
					            <th>ASK3</th>
					            <th>ASK4</th>
					            <th>ASK5</th>
					        </tr>
					  	</thead>

					    <tbody class="stock-data">

						    <tr ng-repeat="item in dataArr track by item.st" ng-model="$scope.dataArr">

				            	<td><span class="badge badge-inverse">{{item.st}}</span></td>
					            <td><a class="btn btn-primary btn-mini trade-button"><strong><div id="{{item.st}}b5p">{{item.b5p}}</div></strong><div id="{{item.st}}b5v">{{item.b5v}}</div></a></td>
					            <td><a class="btn btn-primary btn-mini trade-button"><strong><div id="{{item.st}}b4p">{{item.b4p}}</div></strong><div id="{{item.st}}b4v">{{item.b4v}}</div></a></td>
					            <td><a class="btn btn-primary btn-mini trade-button"><strong><div id="{{item.st}}b3p">{{item.b3p}}</div></strong><div id="{{item.st}}b3v">{{item.b3v}}</div></a></td>
					            <td><a class="btn btn-primary btn-mini trade-button"><strong><div id="{{item.st}}b2p">{{item.b2p}}</div></strong><div id="{{item.st}}b2v">{{item.b2v}}</div></a></td>
					            <td><a class="btn btn-primary btn-mini trade-button"><strong><div id="{{item.st}}b1p">{{item.b1p}}</div></strong><div id="{{item.st}}b1v">{{item.b1v}}</div></a></td>
					            <td><a class="btn btn-success btn-mini trade-button"><strong><div id="{{item.st}}tp">{{item.tp}}</div></strong><div id="{{item.st}}tv">{{item.tv}}</div></a></td>
					            <td><a class="btn btn-danger btn-mini trade-button"><strong><div id="{{item.st}}a1p">{{item.a1p}}</div></strong><div id="{{item.st}}a1v">{{item.a1v}}</div></a></td>
					            <td><a class="btn btn-danger btn-mini trade-button"><strong><div id="{{item.st}}a2p">{{item.a2p}}</div></strong><div id="{{item.st}}a2v">{{item.a2v}}</div></a></td>
					            <td><a class="btn btn-danger btn-mini trade-button"><strong><div id="{{item.st}}a3p">{{item.a3p}}</div></strong><div id="{{item.st}}a3v">{{item.a3v}}</div></a></td>
					            <td><a class="btn btn-danger btn-mini trade-button"><strong><div id="{{item.st}}a4p">{{item.a4p}}</div></strong><div id="{{item.st}}a4v">{{item.a4v}}</div></a></td>
					            <td><a class="btn btn-danger btn-mini trade-button"><strong><div id="{{item.st}}a5p">{{item.a5p}}</div></strong><div id="{{item.st}}a5v">{{item.a5v}}</div></a></td>
					        </tr>

					    </tbody>
					</table>
				</div>

		    </tab>


		    <!-- =====================================================
		    Chat Tab 
		    =======================================================-->
		    <tab heading="Chat">
			    <div ng-controller="ChatCtrl">
			    	<p><button class="btn btn-info btn-large btn-primary" type="button" id="join-chat" ng-click="joinChat()">Join Chat</button></p>


						<!-- =====================================================================
					  	ChatRoom Message Box
					    (every 2nd row shall use css dark class)
					  	====================================================================== -->
					  	<hr>
					  	<div class="row">
					      <div class="col-md-offset-2 col-md-8 col-md-offset-2">
					  		  <h3 class="text-center"><strong>Messages</strong></h3>
					        <div id="messages">
					          <ul>
					            <li class="list-unstyled" ng-repeat="message in messages track by $index" 
					  				    ng-cloak autoscroll ng-class="{dark: $index % 2 === 0}">
					  				    <strong ng-bind="message.user">:</strong> <em ng-bind="message.text"></em>
					  				  </li>
					          </ul>
					        </div>
					      </div>
					  	</div>

					<hr>


					<p><input type="text" class="input-lg col-md-12 chat-widget" ng-model="message" placeholder="Enter message" ng-required></p>


					<p><button type="submit" class="btn btn-primary chat-widget" id="send-chat" ng-click="sendMessage()">Send</button></p>

					<!-- Online Label & user labels to indicate users that are connected to chat -->
					<p><span class="label label-info chat-widget" id="online">Online:</span><div id="users"></div></p>

					
				</div>
		    </tab>


		    <!-- =====================================================
		    My Account Tab 
		    =======================================================-->
		    <tab heading="My Account">
			    <div ng-controller="AccountCtrl">
	
			 		<div class="tab-pane" id="tab4">
						<p>
							<h3>Username: {{username}}
							<form name="fmAccount" class="fmAccount" novalidate>
					 	
							 	<div class="form-group">
									<label>E-mail</label>
									<input type="email" class="form-control" ng-bind="$scope.email" ng-model="email" ng-required="true">
								</div>
								<button type="button" class="btn btn-primary" ng-click="updateAccount()" ng-disabled="fmAccount.$invalid">Update</button>
							</form>
						</p>
					</div>
				</div>

		    </tab>



		  </tabset>


          <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
            <div class="tab-pane fade active in" id="tab1">
              
<!--  
              <div class="well form-search">
                <input id="stock" type="text" class="input-medium search-query" name="stock">
                <button id="add-stock" class="btn">Add Stock</button>
              </div>
 -->              
             </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>